# OS/editor
.DS_Store
Thumbs.db
.vscode/
*.swp

# solidworks 
*.SLDPRT
*.SLDASM
*.SLDDRW
solidworks/
proto/
/electronics/rev1/quadruped rev1/quadruped rev1-backups
/electronics/logic board v1/logic_board_v1-backups
*.lck
electronics/logic board v1/\#auto_saved_files\#
electronics/logic board v1/fp-info-cache
/hardware/step/v3
firmware/test/README
